h1{
    text-align: center;
    color: #245;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace

}

body{
    background-color: #cdf;
}

img{
    position: fixed; 
    left: 40vw;
    top: 20vh;
}

a{
    position: fixed;
    top: 5vh;
    left: 5vw;
    text-decoration: none;
    color: #245;
}

a:nth-of-type(2){
    position: fixed;
    top: 5vh;
    left: 13vw;
    text-decoration: none;
    color: #245;
}

